---
import BaseLayout from '../layouts/base.astro'

import PluginA from '../components/PluginA'
import Navbar from '../components/Navbar'
---

<BaseLayout>
  <main class="main">
    <Navbar client:only="react" />
    <PluginA client:only="react" />
  </main>
</BaseLayout>

<style>
  .main {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 5px;
    height: 100%;
  }
</style>
