---
import BaseLayout from '../../layouts/base.astro'

import Dashboard from '../../components/Dashboard'
---

<BaseLayout>
  <main class="main">
    <div class="dashboard"><Dashboard client:only="react" /></div>
  </main>
</BaseLayout>

<style>
  div {
    padding: 2px;
  }
</style>
